@font-face {
	font-family: 'Manrope-Medium';
	src: local('☺'), url('../fonts/Manrope-Medium.woff') format('woff');
	src: local('☺'), url('../fonts/Manrope-Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Manrope-SemiBold';
	src: local('☺'), url('../fonts/Manrope-SemiBold.woff') format('woff');
	src: local('☺'), url('../fonts/Manrope-SemiBold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Manrope-Bold';
	src: local('☺'), url('../fonts/Manrope-Bold.woff') format('woff');
	src: local('☺'), url('../fonts/Manrope-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

