.feedback {

	&__title {
		font-size: 72px;
		font-family: $font-semi;
		margin-bottom: 24px;
		line-height: 1.1;
	}

	&__text {
		font-size: 20px;
		line-height: 1.8;

		&_left {
			margin-left: -15px;
			margin-top: 120px;
			max-width: 470px;
		}
	}

	@media screen and (max-width: 1300px) {

		&__text {
			&_left {
				width: 50%;
				margin-left: auto;
				margin-top: -24px;
			}
		}
	}

	@media screen and (max-width: 991px) {
		&__title {
			font-size: 42px;
		}

		&__text {
			font-size: 16px;
		}
	}

	@media screen and (max-width: 767px) {
		&__title {
			margin-bottom: 20px;
		}

		&__text {
			margin-left: 0;
			&_left {
				margin-top: 0;
			}
		}
	}

	@media screen and (max-width: 576px) {
		&__text {
			font-size: 14px;
		}
	}
}