.portfolio {
	&__title {
		margin-bottom: 100px;
	}

	&__content {
		max-width: 340px;
	}

	&__text {
		line-height: 1.8;
		font-size: 20px;
		margin-bottom: 40px;	
	}

	&-data {
		&__item {
			margin-bottom: 30px;
		}

		&__title {
			margin-bottom: 14px;
		}
	}

	&__slider {
		position: relative;
		.swiper-slide {
			height: auto;
		}
		
		.swiper-container {
			overflow: visible;
		}
	}

	// &-hand {
	// 	position: relative;
	// 	width: 34px;
	// 	img {
	// 		display: block;
	// 	}

	// 	&__main {
	// 		animation: arrowMove 0.8s ease-in-out infinite alternate;
	// 	}

	// 	&__arrow {
	// 		position: absolute;
	// 		width: 16px;
	// 		top: -2px;
	// 		left: 0;
	// 		height: 9px;
	// 	}
	// }

	&-circle {
		position: absolute;
		display: flex;
		align-items: center;
		animation: arrowMove 2s ease-in-out infinite alternate;
		right: 0;
		top: 32px;
		z-index: 10;

		&__text {
			width: 80px;
			min-width: 80px;
			height: 80px;
			background: rgba(27, 82, 242, 0.5);
			backdrop-filter: blur(19px);
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-size: 12px;
			margin: 0 24px;
		}

		&__arrow {
			width: 22px;
			min-width: 22px;
			height: 16px;
			color: $white;
		}
	}

	@media screen and (min-width: 1301px) {
		&__content {
			transition: 0.5s ease-in-out;
			
			&.is-animate {
				opacity: 0;
				transform: scale(1, 0.95);
			}
		}
	}

	@media screen and (min-width: 992px) {
		&__slider {
			.swiper-slide {
				width: 570px;
			}
		}
	}

	@media screen and (max-width: 1300px) {
		&__title {
			margin-bottom: 50px;
		}

		&__content {
			max-width: none;
			display: flex;
			margin: 0 -15px;
		}

		&__text {
			padding: 0 15px;
			width: 55%;
			min-width: 55%;	
		}

		&-data {
			padding: 0 15px;
			width: 45%;
			min-width: 45%;	
			margin-bottom: 40px;
		}
	}

	@media screen and (max-width: 991px) {
		&__title {
			margin-bottom: 24px;
		}

		&__text {
			line-height: 1.57;
			font-size: 14px;
		}

		&-data {
			&__item {
				margin-bottom: 20px;
			}

			&__title {
				margin-bottom: 8px;
			}
		}
	}

	@media screen and (max-width: 576px) {
		&__content {
			display: block;
			margin: 0;
		}

		&__text {
			padding: 0;
			width: 100%;
			min-width: 100%;
			margin-bottom: 20px;	
		}

		&-data {
			padding: 0;
			width: 100%;
			min-width: 100%;
		}
	}
}

@keyframes arrowMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}