.section {
	&_py {
		padding-top: 110px;
		padding-bottom: 110px;
	}

	&_pb {
		padding-bottom: 100px;
	}

	&_pt {
		padding-top: 100px;
	}

	&_feedback {
		padding: 60px 0;
	}

	&-title {
		position: relative;
		display: inline-block;
		white-space: nowrap;
		&::after {
			position: absolute;
			content: '';
			width: 23px;
			height: 37px;
			left: 100%;
			background-image: url('../img/title-arrow-right.svg');
			background-repeat: no-repeat;
			background-size: 100%;
			bottom: 16px;
			margin-left: 16px;
		}

		&::before {
			position: absolute;
			content: '';
			width: 23px;
			height: 37px;
			right: 100%;
			background-image: url('../img/title-arrow.svg');
			background-repeat: no-repeat;
			background-size: 100%;
			bottom: 16px;
			margin-right: 16px;
		}
	}

	&-introduce {
		margin-bottom: 20px;
		&__text {
			font-size: 20px;
			line-height: 1.8;

			.g-col {
				margin-top: 32px;
			}
		}
	}

	&_white {
		color: $black;
		background: $white;
	}

	&_map {
		background-image: url('../img/map.jpg');
		background-position: 50% 50%;
		background-size: cover;
		color: $black;
		padding-top: 110px;
	}

	&_bg {
		background: $dark;
	}

	@media screen and (max-width: 991px) {
		&_py {
			padding-top: 80px;
			padding-bottom: 80px;
		}

		&_pb {
			padding-bottom: 80px;
		}

		&_pt {
			padding-top: 80px;
		}

		&_feedback {
			padding: 40px 0;
		}

		&-title {
			&::after {
				width: 14px;
				height: 21px;
				bottom: 6px;
				margin-left: 8px;
			}

			&::before {
				width: 14px;
				height: 21px;
				margin-right: 8px;
				bottom: 8px;
			}
		}

		&-introduce {
			&__text {
				font-size: 16px;
				line-height: 1.5;

				.g-col {
					margin-top: 16px;
				}
			}
		}

		&_map {
			padding-top: 32px;
		}
	}

	@media screen and (max-width: 767px) {
		&_py {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		&_pb {
			padding-bottom: 30px;
		}

		&_pt {
			padding-top: 30px;
		}

		&_feedback {
			padding: 30px 0;
		}

		&_map {
			background: $white;
		}

		&-introduce {
			.h5 {
				padding-top: 16px;
			}
		}
	}

	@media screen and (max-width: 576px) {
		&-title {
			&::after {
				width: 10px;
				height: 16px;
				bottom: 4px;
			}

			&::before {
				width: 10px;
				height: 16px;
				bottom: 4px;
			}
		}
	}
}