.services {
	&__item {
		margin-top: 30px;
	}

	&-card {
		height: 100%;
		background-position: 50%;
		background-size: cover;
		position: relative;
		min-height: 316px;
		display: block;

		&::after {
			content: '';
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			transition: 0.3s ease-in-out;
		}

		&__content {
			position: relative;
			z-index: 3;
			display: flex;
			flex-direction: column;
			height: 100%;
			padding: 40px;
		}

		&__text {
			flex-grow: 1;
			padding: 24px 0 30px;
			font-size: 20px;
			line-height: 1.8;
			display: block;
		}

		&__title {
			display: block;
		}

		&__bottom {
			display: block;
		}

		&:hover {
			&::after {
				opacity: 0.8;
			}
			.link {
				color: $white;
			}
		}
	}

	@media screen and (max-width: 991px) {
		&__item {
			margin-top: 20px;
		}

		&-card {
			min-height: 204px;

			&__content {
				padding: 16px;
			}

			&__text {
				flex-grow: 1;
				padding: 8px 0 24px;
				font-size: 14px;
				line-height: 1.57;
			}
		}
	}
}
