.button {
	display: inline-flex;
	cursor: pointer;
	transition: 0.3s;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	font-family: $font-medium;
	font-weight: 400;
	text-align: center;
	background: transparent;
	
	&_primary {
		font-size: 22px;
		padding: 0 30px;
		height: 69px;
		border: 2px solid $grey-dark;
		color: $white;
		min-width: 270px;
		&:hover,
		&:active {
			background: $grey-dark;
		}
	}
	&_rounded {
		font-size: 18px;
		padding: 0 20px;
		height: 46px;
		border: 1px solid transparent;
		color: $white;
		border-radius: 40px;
		&:hover,
		&:active {
			border-color: $grey-medium;
		}
	}
	&_border {
		font-size: 16px;
		padding: 0 40px;
		height: 46px;
		border: 1px solid $grey-medium;
		color: $white;
		border-radius: 40px;
		&:hover,
		&:active {
			border-color: $white;
		}
	}
	&_submit {
		font-size: 18px;
		padding: 0 30px;
		height: 66px;
		border: none;
		color: $white;
		width: 100%;
		background: $black;
		&:hover,
		&:active {
			background: $grey-dark;
		}
	}

	&_nav {
		font-size: 14px;
		padding: 0 24px;
		height: 42px;
		border: 1px solid $grey-dark;
		color: $white;
		border-radius: 40px;
		&:hover,
		&:active,
		&.is-active {
			background: $grey-medium;
		}
	}

	&_secondary {
		display: flex;
		align-items: center;
		background: $dark;
		height: 40px;
		padding: 0 10px;
		cursor: pointer;
		width: 100%;
		text-align: center;
		.button__text {
			flex-grow: 1;
			min-width: 0;
			&:not(:last-child) {
				padding-right: 10px;
				text-align: left;
			}
		}

		.button__arrow {
			transition: 0.3s ease-in-out;
			width: 20px;
			min-width: 20px;
			height: 20px;
		}

		&.is-active {
			.project-button__arrow {
				transform: rotate(180deg);
			}
		}
	}

	&__icon {
		display: block;
		width: 24px;
		height: 24px;
		margin-left: 10px;
	}

	@media screen and (max-width: 991px) {
		&_primary {
			font-size: 18px;
			padding: 0 16px;
			height: 54px;
			min-width: 186px;
		}

		&_rounded {
			font-size: 14px;
			padding: 0 12px;
			height: 35px;
		}

		&_submit {
			padding: 0 12px;
			height: 44px;
		}

		&_nav {
			font-size: 12px;
			padding: 0 16px;
			height: 36px;
		}

		&_mobile-full {
			background: $grey-dark;
			border-color: $grey-dark;
		}
	}

	@media screen and (max-width: 767px) {
		&_rounded {
			font-size: 16px;
			padding: 0;
			border: none;
			height: auto;
		}
		&_primary {
			width: 100%;
		}
	}

	@media screen and (max-width: 576px) {
		&_primary {
			font-size: 14px;
		}

		&_submit {
			font-size: 14px;
			height: 62px;
		}
		&_nav {
			padding: 0 12px;
			height: 32px;
		}

		&_border {
			width: 100%;
			font-size: 14px;
		}
	}
}
